body {
    padding: 3em;
}

.btn {
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 0;
    border-style: solid;
    border-color: rgb(171, 171, 171);
    border-width: 2px;
    background-color: #4a85e8;
    color: white;
    cursor: pointer;
}

.btn-cancel {
    background-color: gray;
}

#btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}

#openForm {
    width: 30%;
    background-color: #d9d9d9;
    padding: 20px 40px;
    margin-top: 20px;
}

p {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
    margin: 1em, 0;
}

input, select  {
    margin: 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#deadline::before { 
    content: attr(data-placeholder);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#deadline:focus::before, #deadline:valid::before { 
    display: none 
}